<li>
	<%= link_to cocktail.name, cocktail %>

	<div class="row-fluid" style="display: none;">
		<aside class="span4">
			<section>
				<p>
					<ul>
						<li>
							Makes <b><%= cocktail.makes %></b>
						</li>
						<li>
							Glasses 
							<b>
								<%= cocktail.makes %> <%= cocktail.glass %>
								<% if cocktail.chilled? %>
									,chilled
								<% end %>
							</b>
						</li>
						<% if cocktail.tools.any? %>
							<li>
								Equipment
								<% cocktail.tools.each do |tool| %>
									<b><%= tool.tool %>,</b>
								<% end %>
							</li>
						<% end %>
					</ul>
				</p>
				<p>
					<ul>
						<% cocktail.ingredients.each do |ingredient| %>
							<li>
								<%= ingredient.measure %> <%= ingredient.unit %> <b><%= ingredient.ingredient %></b>
								<% if ingredient.decoration? %>
									,decoration
								<% end %>
							</li>
						<% end %>
					</ul>
				</p>
				<p>
					<ul>
						<% cocktail.directions.each do |direction| %>
							<% test = direction.direction.split %>
							<li>
								<b><%= test.shift %></b> <%=test.join(' ') %>
							</li>
						<% end %>
					</ul>
				</p>
			</section>
		</aside>
	</div>


	<% if signed_in? %>
		<% if current_user.admin? %>
			| <%= link_to "delete", cocktail, method: :delete, data: { confirm: "You sure?" } %>
		<% end %>
	<% end %>
</li>
