<% provide(:title, 'Cocktails') %>
<div class="center hero-unit">
	<h1>Cocktails</h1>
	<p>We're gunna fill this up with so many cocktails</p>
</div>

<div class="center hero-unit">
	<h2>What goes into a cocktail?</h2>

	<ul class="nav nav-tabs" id="myTab">
		<li><a href="#spirits" data-toggle="tab">Spirits</a></li>
		<li><a href="#glasses" data-toggle="tab">Glasses</a></li>
		<li><a href="#equipment" data-toggle="tab">Equipment</a></li>
		<li><a href="#techniques" data-toggle="tab">Techniques</a></li>
		<li><a href="#decorations" data-toggle="tab">Decorations</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane" id="spirits">
			spirits
		</div>
		<div class="tab-pane active" id="glasses">glasses</div>
		<div class="tab-pane" id="equipment">equipment</div>
		<div class="tab-pane" id="techniques">techniques</div>
		<div class="tab-pane" id="decorations">decorations</div>
	</div>

	<script>
		$(function () {
			$('#myTab a:first').tab('show');
		})
	</script>
	 
</div>

<div class="center hero-unit">
	<p>
		<ul class="nav nav-pills">
			<li class="<%= 'active' if params[:family] == "fruity" %>" >
				<%= link_to "Fabulously Fruity", cocktails_path(family: "fruity") %>
		    </li>
		  	<li class="<%= 'active' if params[:family] == "cool" %>" >
		  		<%= link_to "Cool and Refreshing", cocktails_path(family: "cool") %>
		  	</li>
		  	<li class="<%= 'active' if params[:family] == "sparkling" %>" >
		  		<%= link_to "Sparkling Gems", cocktails_path(family: "sparkling") %>
		  	</li>
		  	<li class="<%= 'active' if params[:family] == "tangy" %>" >
		  		<%= link_to "Tangy Tongue Teasers", cocktails_path(family: "tangy") %>
		  	</li>
		</ul>
		<ul class="nav nav-pills">
		  	<li class="<%= 'active' if params[:family] == "winter" %>" >
		  		<%= link_to "Winter Warmers", cocktails_path(family: "winter") %>
		  	</li>
		  	<li class="<%= 'active' if params[:family] == "rich" %>" >
		  		<%= link_to "Rich and Creamy", cocktails_path(family: "rich") %>
		  	</li>
		  	<li class="<%= 'active' if params[:family] == "shots" %>" >
		  		<%= link_to "Sensational Shots", cocktails_path(family: "shots") %>
		  	</li>
		</ul>
  	</p>

	<%= will_paginate %>
	<ul class="cocktails">
		<% @cocktails.each do |cocktail| %>
			<%= render @cocktails %>
		<% end %>
	</ul>
	<%= will_paginate %>

</div>