<% provide(:title, @cocktail.name.titleize) %>
<div class="row">
	<aside class="span4">
		<section>
			<h2>
				<%= @cocktail.family.titleize %>
			</h2>
			<h1>
				<%= @cocktail.name.titleize %>
			</h1>
			<p>
				<ul>
					<li>
						Makes <b><%= @cocktail.makes %></b>
					</li>
					<li>
						Glasses 
						<b>
							<%= @cocktail.makes %> <%= @cocktail.glass %>
							<% if @cocktail.chilled? %>
								,chilled
							<% end %>
						</b>
					</li>
					<%= render 'cocktails/tools' %>
				</ul>
			</p>
			<%= render 'cocktails/ingredients' %>
			<%= render 'cocktails/directions' %>
		</section>
	</aside>
</div>